<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GmailUserName" value="[your-email@gmail.com]"/>
    <add key="GmailPassword" value="[your-gmail-password]"/>
    <add key="GmailHost" value="smtp.gmail.com"/>
    <add key="GmailPort" value="587"/>
    <add key="GmailSsl" value="true"/>
  </appSettings>
</configuration>